@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|La+Belle+Aurore&display=swap');
:root {
    --blue: #30a1e2;
    --blue-trans: #30a1e2aa;
    --primary: #30a1e2;
    --secondary: #aaa;
    --danger: rgb(255, 0, 0);
}

::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border: 2px solid #efefef;
    padding: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fafafa;
}

::-webkit-scrollbar-track {
    background: #efefef;
    border: 1px solid #efefef;
}


.hidden-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.hidden-scroll::-webkit-scrollbar-thumb {
    background: red;
    border: 0px solid #efefef;
    padding: 0px;
}

.hidden-scroll::-webkit-scrollbar-thumb:hover {
    background: #fafafa;
}

.hidden-scroll::-webkit-scrollbar-track {
    background: #efefef;
    border: 0px solid #efefef;
}


* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input,
select {
    min-height: 2em;
    box-sizing: border-box;
    white-space: nowrap;
    margin: 1px;
    display: inline-block;
    max-width: 100%;
}
.btn[disabled] {
    opacity: .6;
    pointer-events: none;
}




#main-view {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.mobile div#main-view {
    max-height: calc(100vh - 50px);
}





div#person-summary {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

div#person-summary>* {
    margin: .6em;
}

.hamburger-container {
    display: inline-block;
    cursor: pointer;
    transform: scale(.5);
}
.hamburger-container.disabled {
    cursor: default;
    pointer-events: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    transform-origin: center left;
}

.showMenu .bar1 {
    transform: rotate(-45deg) translate(-6px, 8px) scaleX(.75);}

.showMenu .bar3 {
    transform: rotate(45deg) translate(-8px, -9px) scaleX(.75);
}




.profile-img {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100vw;
}






#timeline-wrapper {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    flex-grow: 1;
    border: 1px solid #eee;
    display: flex;
    overflow: hidden;
}



div#mainPanel {
    position: relative;
    flex-grow: 1;
}


.fs-inner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    /*flex-grow: 1;*/
}


div#loadingSplash {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    background-image: url(images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    z-index: 10;
}

div#menuCloserSplash {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}


#timeline-box {
    overflow-x: auto;
}

#scrollmarker {
    position: absolute;
    top: 50%;
    border: 3px solid red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

#markers {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
}

.century-block {
    position: relative;
    align-items: flex-end;
    display: flex;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, #00000004);
    border-right: 1px solid #0001;
}
.era-line {
    position: absolute;
    top: 0px;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, #00000004);
    border-right: 1px solid #0001;
    display: flex;
    align-items: flex-end;
}

.sub-eras-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.sub-era-line {
    height: 100%;
    flex-grow: 1;
    border-right: 1px solid #00000005;
}

.era-label {
    border-top: 1px solid #00000033;
    width: 100%;
    line-height: 2em;
    font-size: 1em;
    background: #0000000a;
}
.book-label-wrapper .era-label {
    border: 1px solid #0002;
    padding-left: .3em;
    background: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
}

div#flatLine {
    position: absolute;
    width: 100%;
    border-top: 1px solid #ddd;
}

#gallery {
    position: absolute;
    height: calc(100% - 7em);
    bottom: 0;
    left: 0;
    z-index: 5;
    filter: drop-shadow(-5px 5px 1px #0002);
}


.item-wrapper .content {
    display: none;
}


.item-wrapper:hover,
.item-wrapper.hardFocus,
.item-wrapper.focus,
.item-wrapper:target {
    color: var(--blue);
    z-index: 10;
    visibility: visible !important;
}

.item-wrapper:hover .content,
.item-wrapper.hardFocus .content,
.item-wrapper.focus .content,
.item-wrapper:target .content {
    display: block;
}

.item-wrapper:hover .time-card,
.item-wrapper.hardFocus .time-card,
.item-wrapper.focus .time-card,
.item-wrapper:target .time-card {
    box-shadow: 2px 2px 5px #0003;
}

.focusOne .item-wrapper:not(.hardFocus) {
    opacity: .5;
    pointer-events: none;
}



.event-info-layout {
    display: flex;
}

.eventPos {
    color: var(--blue);
    position: absolute;
    bottom: 0%;
    z-index: 3;
    transform: translate(-50%, 50%);
}
.eventPos.hidden {
    visibility: hidden;
}

.marker {
    position: absolute;
    bottom: 50%;
    left: 50%;
    padding: .2em;
    border: 0.38em solid;
    border-radius: 50%;
    background: #fff;
    z-index: 0;
    filter: drop-shadow(-1px 0 1px #0004);
    transform: translate(-50%, 50%);
    cursor: default;
}

.eventPos.secondary .marker {
    padding: 0px;
    border: 0.35em solid;
}

.eventPos.anchor .marker {
    display: none;
}

.isAdmin .eventPos.anchor .marker {
    display: block;
    padding: 0;
    z-index: 3;
    border: .25em solid;
}

.eventPos .marker.custom-icon-marker {
    border: none;
    background: none;
    font-size: 1.3em;
}

#app:not(.isAdmin) .eventPos.anchor .content {
    display: none;
}

.eventPos .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.eventPos .time-card-wrapper {
    transform: translateY(-1em);
}


.pointer-wrapper {
    overflow-y: hidden;
    height: 15px;
    width: 2em;
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
}

.pointer {
    padding: .5em;
    border-right: 2px solid;
    border-bottom: 2px solid;
    background: #fff;
    transform: rotate(45deg) translateX(-50%);
    transform-origin: left;
    position: absolute;
    bottom: 5px;
    left: 50%;
}


.item-wrapper .line {
    position: absolute;
    border-left: 1px solid;
    box-sizing: content-box;
    pointer-events: none;
    transform: translateY(.2em);
}
.line .date-tag {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: max-content;
    background: #f3f3f3;
    line-height: 1.8em;
    padding: 0 .3em;
}


.time-card {
    border: 2px solid;
    background: #fff;
    position: absolute;
    border-radius: .5em;
    display: flex;
    left: 0;
    bottom: 0;
    width: max-content;
}

.eventPos .time-card {
    transform: translateX(-50%);
}

.arc-group .time-card {
    z-index: 5;
    transform: translate(00%, 100%);
}

.time-card>* {
    margin: .5em;
}


.event-image {
    position: relative;
    color: #fff;
    background-image: url(/images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 12vh;
    max-height: 8em;
    min-height: 4em;
    position: relative;
}

.event-info-layout .event-image img {
    color: transparent;
    height: 100%;
    width: auto;
}

.event-image .openTheater {
    display: none;
    position: absolute;
    cursor: pointer;
    top: .3em;
    right: .3em;
    font-size: 1.6em;
    text-align: center;
}

.event-image .openTheater i.material-icons {
    border-radius: .3em;
    background: #00000055;
    padding: .1em;
}

.events-list-item:hover .openTheater,
.event-info-layout:hover .openTheater {
    display: block;
}

.time-card .info {
    max-width: 18em;
}

.event-info-layout .info {
    color: #111;
}



.event-info-layout .info .title {
    font-weight: bold;
    line-height: 1.2;
}

.event-info-layout .details {
    opacity: .8;
    font-size: .9em;
    line-height: 1.35;
}

.details .list span:last-child::after {
    content: '';
}

.details .list span::after {
    content: ', ';
}

.event-info-layout .long-details {
    max-height: 4em;
    overflow-y: auto;
    margin-top: 1em;
}

.event-info-layout .note {
    white-space: pre-wrap;
}

.event-info-layout .note::before {
    content: 'Notes:';
    font-style: italic;
    margin-right: .5em;
}

.event-info-layout .lists.list::before {
    content: 'Lists:';
    font-style: italic;
    margin-right: .5em;
}

.event-info-layout .prophecies.list::before {
    content: 'Prophecies:';
    font-style: italic;
    margin-right: .5em;
}



.event-info-layout .buttons {
    display: flex;
    flex-direction: column;
}

.event-info-layout .buttons>a {
    opacity: .7;
    color: #555;
    font-size: 1.3em;
    margin-bottom: -.3em;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.event-info-layout .buttons>a:hover {
    opacity: 1;
}

i.material-icons {
    font-size: inherit;
}







div#watercolors {
    opacity: .7;
}

.eventPos.image {
    border: none !important;
    padding: 0 !important;
    box-shadow: none;
    background: transparent;
    z-index: 1
}

.eventPos.image img.watercolor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: contrast(1) sepia(.3);
}





.arc-group svg {
    transform: scaleY(-1);
}
.arc-group svg line {
    stroke-width: 5;
    stroke-linecap: round;
}




div#timeline-wrapper #controls>div {
    position: absolute;
    padding: .5em;
    top: 0;
    left: 0;
    z-index: 10;
}

#addEventBox {
    right: 0;
    left: initial !important;
    text-align: right;
}

#zoomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#controls .btn {
    display: block;
    box-shadow: 0 0 3px #0006;
    margin: .5em;
    text-align: center;
    line-height: 1.5em;
    height: auto;
    z-index: 15;
    border: none !important;
}

div#controls .btn.zoom {
    font-size: 1.3em;
    width: 1.5em;
    padding: 0;
    z-index: 1;
}

div#zoomBox div#zoomIn.btn.zoom {
    padding-bottom: .3em;
}
div#resetZoom.btn.zoom {
    border-radius: 50%;
    font-size: 1.75em;
    z-index: 2;
    margin: -.7em;
}
div#zoomBox div#zoomOut.btn.zoom {
    padding-top: .3em;
}








/* SIDE PANELS */

div.side-panel {
    z-index: 15;
    background: #fff;
    box-shadow: 0 0 1em -0.5em;
    width: 0;
    overflow: hidden;
    padding: 0;
    transition: 200ms;
    position: relative;
}

div.side-panel.open {
    width: 41%;
    max-width: 21em;
    min-width: 14em;
}

.content-wrapper {
    flex-direction: column;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}




/* LEFT PANEL */

div#left_panel {
    max-width: 20rem;
}



#appMenuHeader {
    display: flex;
    align-items: center;
    padding: 1rem;
}

div#appMenuHeader>* {
    margin: 0 .5rem 0 0;
}

/* Tabs*/

ul#myTab {
    flex-wrap: nowrap;
    border-bottom: none;
    z-index: 1;
    width: 100%;
    overflow-x: auto;
    margin-bottom: -1px;
}

li.nav-item {
    flex-grow: 1;
    text-align: center;
}

.nav-tabs .nav-link {
    color: #9c9c9c;
    border: none !important;
    border-bottom: .1em solid !important;
    white-space: nowrap;
}

.nav-tabs .nav-link:not(.active):hover {
    color: var(--blue);
    opacity: .8;
}

.nav-tabs .nav-link.active {
    color: var(--blue);
    border-bottom-width: .25em !important;
}

.tab-pane {
    position: absolute;
    width: 100%;
    height: calc(100% - 6.5rem);
    flex-direction: column;
    overflow-y: auto;
}

div#contact.tab-pane {
    padding: 1.5em;
}

.tab-content .tab-pane.active {
    display: flex;
}
.accordion>.card>.card-header:hover {
    background: #00000003;
}
.accordion>.card>.card-header button.btn-link {
    color: #555;
    text-decoration: none !important;
}
.accordion>.card>.card-header button[aria-expanded="true"] {
    color: var(--blue);
}

.accordion>.card>.card-header button.btn-link::after {
    content: '▾';
}
.accordion>.card>.card-header button[aria-expanded="true"]::after {content: '▴';}

.events-list {
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
}

.events-list-item {
    width: 100%;
    transition: 200ms;
    border-bottom: 2px solid #eee;
}
.accordion .collapse.focus, .events-list-item.focus {
    outline: 3px solid var(--blue-trans);
}

.events-list-item .event-info-layout {
    padding: .7em;
    display: flex;
    width: 100%;
}

.events-list-item .event-image {
    height: 7em;
    border-top-right-radius: 1em;
    box-shadow: inset 0 -20px 10px -10px #0008;
    border-right: 1px solid #0003;
    background-size: cover;
    background-position: center 15%;
    transition: 500ms;
}

/*.events-list-item:hover .event-image {*/
/*    height: 12em;*/
/*}*/

.events-list-item .info {
    flex-grow: 1;
}

.events-list-item .long-details {
    max-height: none;
}

.card-header {
    padding: .5em;
}

.card-body {
    padding: 0;
}
























/* Right Panel and Form */

#right_panel .content-wrapper {
    position: absolute;
    width: 900px;
    height: 100%;
    overflow-y: auto;
    padding-right: 1.5em;
    left: 0;
    padding: 1em;
    transition: 200ms;
}

#right_panel.open .content-wrapper {
    width: 100%;
}

#right_panel label {
    margin: .5em 0 0;
}

input[type="range"] {
    width: 100%;
}

.lists-list-wrapper {
    display: block;
    zoom: .8;
    margin: .5em 0;
}

.lists-list-item-wrapper {
    color: var(--blue);
    border: .15em solid;
    border-radius: 1em;
    padding: .15em .5em;
    margin: .1em;
    display: inline-block;
    white-space: nowrap;
}

a.lists-lists-item-remove::before {
    content: '\2715';
}

a.lists-lists-item-remove {
    font-weight: bold;
    margin: .1em;
    cursor: pointer;
}

.lists-list-add-new {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.lists-list-add-new input[type="text"] {
    flex-grow: 1;
}


textarea#note {
    min-width: 100%;
    min-height: 7em;
}






/* QWIZARD! */

div#quizOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: #eee;
    display: flex;
    align-items: center;
}


#slides_area {
    width: 85vw;
    max-width: 50rem;
    margin: 0 auto;
}

.deck_slider {
    height: 60vh;
    width: 100%;
    position: relative;
    filter: drop-shadow(0 0 .25em #0004);
}

.qcard.right {
    transform: translate(43vw, -50%) scale(.95);
}

.qcard.left {
    transform: translate(-59%, -50%) scale(.9);
}

.qcard.active {
    box-shadow: 0 0 0.5em #00000044;
}

.qcard {
    background: #fff;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms;
}

div.qcard-content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 1.5em;
    transition: opacity 0ms 0ms;
}

.qcard.active .qcard-content {
    opacity: 1;
    transition-delay: 0ms;
}

.qcard-height {
    padding-top: 60%;
}

div.qcard.reversed #front {
    opacity: 0;
}

div.qcard #back {
    opacity: 0;
}

div.qcard.reversed #back {
    opacity: 1;
}


.qcard-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3%;
    text-align: center;
}

.qcard-image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


#quizOverlay div#controls {
    margin: .8em 0;
    display: flex;
    justify-content: space-between;
}

#leaveQuizBox {
    position: absolute;
    padding: .5em;
    top: 0;
    right: 0;
}










/* Theater Styles */

#theater *::-webkit-scrollbar {
    width: .7em;
}

#theater *::-webkit-scrollbar-thumb {
    background: #fff2;
    border: none;
}

#theater *:hover::-webkit-scrollbar-thumb {
    background: #fff5;
}

#theater *::-webkit-scrollbar-track {
    background: transparent;
    border: none;
}




#theater {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000088;
    z-index: 50;
    overflow: hidden;
}

#screen {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 2em;
    filter: drop-shadow(0 0 5px #000000aa);
}

#theater.img #screen {
    padding: 2em 2em 10em;
}

#imageBox {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: help;
}

#subs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(calc(100% - 7em));
    background: #000000aa;
    padding: 1.5em;
    font-size: 1.1em;
    line-height: 1.6;
    transition: 200ms;
}

#subs.on,
#subs:hover {
    transform: translateY(0);
}

div#subs>div {
    max-width: 55em;
    margin: 0 auto;
}

#subs p.notes {
    max-height: 30vh;
    overflow-y: auto;
    padding-right: 1em;
    white-space: pre-wrap;
}

#subs .title {
    font-weight: bold;
    font-size: 1.5em;
}

#exitTheater {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 3em;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-right: .2em;
}

/* Record Viewer */

#recordBox {
    width: 100%;
    max-width: 45rem;
    height: 100%;
    overflow: auto;
    padding: 0 1.5em;
    position: relative;
    margin: 0 auto;
}

.hand {
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Homemade Apple', cursive;
}

div#records {
    display: flex;
    flex-direction: column;
}

#recordBox .record {
    margin: 3em auto 0;
    padding: 1.6rem;
    line-height: 1.7;
    border-radius: .2rem;
    transition: 400ms;
    background: #fff;
    color: #222;
    background-position: center;
}

#recordBox.hand .record {
    font-style: italic;
    word-spacing: .1em;
    line-height: 1.7;
    font-size: 1.1em;
    text-align: justify;
    color: #655640;
    box-shadow: inset 0 0em 1em #a05900aa, 0 0 0 #000;
    background: beige;
    background-image: url('images/parch_bg.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1) rotate(-.5deg);
}

#recordBox.hand .record:nth-child(2n) {
    background-image: url('images/parch_bg_flip.jpg');
}

#recordBox .record.focus,
#recordBox.hand .record:hover {
    transform: scale(1.03) rotate(0);
}

#recordBox.hand .record.focus {
    box-shadow: inset 0 0em 1em #a05900aa, 0 0 .5em #fff;
}

#recordBox:not(.hand) .title {
    font-weight: bold;
}


div#toggleFont {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
}

div#toggleFont input {
    display: none;
}

div#toggleFont label {
    line-height: 2rem;
    font-size: 1.4rem;
    border: 1px solid;
    border-radius: .3rem;
    padding: .2rem .5em 0;
    display: block;
    cursor: pointer;
    background: #00000033;
    user-select: none;
}

.hand div#toggleFont label {
    font-size: 1.3em;
}




/* Modal and Tooltips */

.modal-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    background: #00000033;
    z-index: 60;
}

.modal-wrapper.on {
    height: 100%;
}

.modal-wrapper>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

div.modal {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    background: #fff;
    transition: 300ms;
}

.modal-wrapper.on div.modal {
    transform: translateY(0)
}

.modal .title-bar {
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.modal .title-bar a {
    font-size: 2em;
    line-height: .5em;
    cursor: pointer;
    text-decoration: none;
}

.modal .title-bar :first-child {
    flex-grow: 1;
    margin: 0;
}

.modal .modal-body {
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.modal section {
    padding: 1rem 1rem;
    transition: 500ms;
    background-color: transparent;
    width: 100%;
    line-height: 1.5;
}

.modal section.focus,
.modal li.focus {
    background-color: #dbf0ff;
}

.modal section>* {
    max-width: 55rem;
    margin: 0 auto;
}

.modal #sources ol {
    list-style: lower-roman;
}

.modal #sources li {
    transition: 500ms;
    margin: .7em 0;
}

.modal #sources .title {
    font-style: italic;
}

.modal #sources a {
    word-break: break-all;
}


/* inline anchors */

note[ft] {
    color: inherit;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
    padding-right: .4em;
}

[ft] {
    cursor: pointer;
    display: inline;
    position: relative;
}

[ft]:hover {
    text-decoration-style: solid;
}

/* --- Footnote Flag --- */

note[ft]:not(:hover)::after {
    content: 'i';
    vertical-align: super;
    font-size: 1em;
    line-height: initial;
    font-weight: initial;
    border-radius: 50%;
    font-style: italic;
    font-family: serif;
    color: #149dff;
    position: absolute;
    right: 0;
}

.hand [ft]:not(:hover)::after {
    top: -.2em;
}

[ft]:not(:hover)::before {
    top: -.7em;
    right: 0em;
    font-size: 0em;
    border: none;
}

/* --- Tooltip on hover --- */

[ft]::before,
[ft]:hover::after {
    font-size: .8rem;
    top: calc(100% + .8em);
    right: 50%;
    transform: translateX(50%);
    z-index: 5;
    position: absolute;
    opacity: 0;
}

.hand [ft]::before,
.hand [ft]:hover::after {
    top: calc(100% + 0em);
}

[ft]::before {
    content: "Click for more information.";
}

[ft]::before {
    opacity: 1;
    position: absolute;
    background-color: #fff;
    border-radius: 0.5em;
    border: 1px solid #00000022;
    box-shadow: 0 0 0.3em #00000022;
    color: initial;
    padding: .5em .8em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: initial;
    font-weight: initial;
    line-height: 1.3;
    min-width: 8em;
}

[ft]:hover::after {
    opacity: 1;
    border: solid transparent;
    filter: drop-shadow(0 -.1em 0em #00000011);
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: .7em;
    margin-top: -1.2em;
}






/* Notes */

add,
que {
    color: #bbb;
}

#recordBox.hand add,
#recordBox.hand que,
#recordBox.hand stop {
    display: none;
}

add[ft]::before {
    content: "Added by the editor to increase readability."
}

que[ft]::before {
    content: "Added by the editor to mark places of questionable transcription."
}

aft[ft]::before {
    content: "Written in the margins of the original document."
}

s[ft]::before {
    content: "A correction made on the original document."
}


/* Removals */

#recordBox:not(.hand) s,
.modal-body s {
    color: red;
}

/* Afterthoughts */

#recordBox:not(.hand) aft {
    color: inherit;
}




@media only screen and (max-width: 450px) {
    .showMenu #left_panel.open {
        width: calc(100% - 3.5rem);
        max-width: none;
    }
    .showMenu:not(.focusOne) div#timeline-wrapper #addEventBox {
        display: none;
    }
}
